@font-face {
    font-family: commuters-sans;
    src: url("../fonts/commuters-sans-thin.otf") format("opentype");
}

@font-face {
    font-family: commuters-sans;
    font-weight: 600;
    src: url("../fonts/commuters-sans-light.otf") format("opentype");
}

@font-face {
    font-family: commuters-sans;
    font-weight: italic;
    src: url("../fonts/commuters-sans-extralight-italic.otf") format("opentype");
}

@font-face {
    font-family: commuters-sans;
    font-weight: 700;
    src: url("../fonts/commuters-sans-semibold.otf") format("opentype");
}

@font-face {
    font-family: commuters-sans;
    font-weight: 800;
    src: url("../fonts/commuters-sans-bold.otf") format("opentype");
}

@font-face {
    font-family: commuters-sans;
    font-weight: 900;
    src: url("../fonts/commuters-sans-extrabold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: commuters-sans, verdana, sans-serif;
}

img{
    width: 100%;
    height: auto;
  }

#header-e1 {
    position:absolute;
    left: 1%;
    top: 2%;
}

.back {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.logout {
  text-decoration: none;
  font-weight: bold;
  color: black;
}


#header-e2 {
    width: 10%;
    height: auto;
    position:absolute;
    left:50%;
    top: 2%;
    -webkit-transform: translate(-50%,0%);
}

#header-e3 {
    position:absolute;
    right: 1%;
    top: 2%;
}

body {
  background-image: url(../images/wallpaper.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.message {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  text-align: center;
}

p {
  font-weight: 600;
}

button{
  font-weight: bold;
  margin-top: 35%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 12%;
  padding-right: 12%;
  color: black;
  font-size: 110%;
  background-color: rgba(255,255,255, 0.75);
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}

button:focus {
  outline: none;
}

footer {
  font-size: 60%;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,-100%);
  text-align: center;
}
